*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

    
}



.settings--container{
    background-color: var(--light-grey);
    min-height: 100vh;
    padding-bottom: 50px;
    padding-top: 25px;
}

.header--container{
    background-color: var(--bg-green);
    margin: 0px 5% 50px ;
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid var(--border-grey);
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.settings--headers h2{
    margin: 15px 5% 5px ;
    color: var(--text-color);
}

.settings--options{
    margin: 5px 5% 0px ;
    padding: 10px;
    border: 2px solid var(--border-grey);
    border-radius: 8px;
    background-color: var(--);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.settings--options p{
    font-weight: bolder;
    font-size: 1rem;
    color: var(--text-color);
}

.settings--options hr{
    border: none;
    border-top: 2px solid var(--bg-green);
    margin: 25px 0;
}

.question--amount  {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.question--amount h3{
    font-weight:lighter;
    font-size: 1rem;
    color: var(--text-color);
}

#ten--btn, #fifteen--btn, #twenty--btn  {
    background-color: var(--bg-green);
    border: none;
    border-radius: 5px;
    padding: 10px 8%;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#ten--btn:hover, #fifteen--btn:hover, #twenty--btn:hover  {
    background-color: var(--green-active);
}

.time--limit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4%;

}

.time--limit h3{
    font-weight:lighter;
    font-size: 1rem;
    color: var(--text-color);
}


.switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 26px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

     .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--border-grey);
      transition: .4s;
      border-radius: 34px;
    }


    .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      top: 3px;
      background-color: var(--white);
      transition: .4s;
      border-radius: 50%;
    }

    input:checked + .slider {
      background-color: var(--bg-green);
    }
    input:checked + .slider:before {
      transform: translateX(23px);
    }

.difficulty{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4%;
    margin-bottom: 15px;
}

.difficulty h3{
    font-weight:lighter;
    font-size: 1rem;
    color: var(--text-color);
}

.difficulty label{
    color: var(--text-color);
}

.change--account--info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.change--account--info h3{
    font-weight:lighter;
    font-size: 1rem;
    color: var(--text-color);
}

#change--password--btn, #change--email--btn, #delete--account--btn {
    background-color: var(--bg-green);
    border: none;
    border-radius: 5px;
    padding: 10px 8%;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.change--theme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    margin-bottom: 15px;
}
.change--theme h3{
    font-weight:lighter;
    font-size: 1rem;
    color: var(--text-color);
}