*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}

:root {
  --bg-green: rgb(143, 225, 147);
  --green-active: rgb(177, 248, 180);
  --light-grey:#f8f9fa;
  --border-grey:#dee2e6;
  --dark-grey-txt:rgb(59, 59, 59);
  --text-color: black;
}

h1
{
    padding: 5px;
}

.container
{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.sidebar{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 100vh;
    padding: 0 0.9rem;
    overflow-x: visible;
    transition: all 0.3s linear;
    background-color: var(--bg-green);
    
    
}

.sidebar:hover{
    width: 200px;
    transition: all 0.2s linear;
    border-radius: 0 8px 8px 0;
    border-right: 8px solid rgba(0, 0, 0, 0.1);
}

.logo{
    height: 60px;
    padding: 16px;
}

.main{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;

}

.main li{
   
    margin: 8px 0;
    transition: all 0.5s ease-in-out;

}

.main a:hover, .active{
    background-color: var(--green-active);
    border-radius: 8px;
  
}

.main a{
    color: rgb(59, 59, 59);
    font-size: 15px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0.8rem; 
}

.main a span{
    overflow: hidden;
}
.main a i{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    left: 0;
    
}

.logout{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}

.header--wrapper {
    width: 100%;
    min-width: 850px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grey);
    border: 1px solid var(--border-grey);
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 1rem;
    
}

.header--wrapper h2{
    color: var(--bg-green);
    
}

.header--title span {
    font-size: 14px;
    color: #718093;
}

.header--title h2 {
    font-size: 28px;
   
}



.quiz--result {
    
    width: 25rem;
    height: 20rem;
    background-color: var(--light-grey);
    border: 1px solid var(--border-grey);
    border-radius: 0.5rem;
    padding: 1rem;
    
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
   
}



.quiz--result h3 {
    font-size: 1.3rem;
    color: rgb(59, 59, 59);
    margin-bottom: 1rem;
    position: relative;
   
   
}

.result--row {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.quizCounter h2 {
    font-size: 3rem;
    color: rgb(59, 59, 59);
    margin-right: 1rem;
}

.brain--icon{
    width: 200px;
    height: 200px;
    background-color: rgb(143, 225, 147);
    border: #dee2e6 4px solid;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.brain--icon::before{
    content: "\f5dc";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 9rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
     background: linear-gradient(45deg, #ff00cc, #3333ff, #00ffcc);
    animation: colorChange 2s ease forwards;
    animation-delay: 4s;
}

@keyframes colorChange{
   to {color: rgb(143, 225, 147)}
}

.brain--icon::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f8f9fa;
    transition: scale(1.6);
    border-radius: 30%;
    animation: animate 6s ease-in-out forwards;
}

@keyframes animate{
    0%{
        transform: translateY(-35%)   scale(1.6);
    }
    100%{
        transform: translateY(-140%) scale(1.6);
    }
    
}

.quizCounter {
    height: 200px;
    width: 150px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.quizCounter h3 {
    font-size: 0.8rem;
    color: var(--dark-grey-txt);
    margin-bottom: 0.5rem;
}

.avatar img{

    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:rgb(84, 148, 233) ;
    object-fit: cover;
    
}

.main--content{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
}

.avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.avatar h3{
    font-size: 16px;
    margin-right: 10px;
    color: rgb(59, 59, 59);
}

.last--result
{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    width: 100%;
    height: 20rem;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
   
}
.last--result h1 {
    font-size: 2rem;
    color: rgb(59, 59, 59);
    margin-bottom: 1rem;
}

.last--result i {
    font-size: 8rem;
    color: gold;
    margin-right: 1rem;
    padding-bottom: 50px;

}

.last--result h2 {
    font-size: 7rem;
    color: rgb(59, 59, 59);
    margin-right: 1rem;
    padding-bottom: 50px;
}

.last--result .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}

.start--quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.start--quiz button{
    background-color: #f8f9fa;
   padding: 0.2rem 4rem;
   border: 4px solid rgb(143, 225, 147);
   border-radius: 8px;
   cursor: pointer;
   transition: background-color 0.3s ease;
   

}
.start--quiz button h1 {
    font-size: 4rem;
    background: rgb(59, 59, 59);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}   

.start--quiz button:hover {
    background: rgb(143, 225, 147);
    color: white;
    transition:  0.3s ease;
}